@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./assets/sunset.jpg') no-repeat center center fixed; /* Set background image */
  background-size: cover; /* Ensure image covers entire page */
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  padding: 20px; /* Add padding */
}

.search {
  margin-bottom: 2rem;
}

input {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.1);
  color: black;
  outline: none;
}

.container {
  max-width: 700px;
  padding: 0 2rem;
  background-color:rgba(0, 0, 0, 0.6); /* Change background color */
  border-radius: 20px; /* Add border radius */
  box-shadow: 0 80 150px rgba(0, 0, 0, 0.5); /* Add box shadow */
  text-align: center; /* Align text to center */
}

.bottom {
  display: flex;
  justify-content: space-around;
}

.bottom > div {
  flex: 1;
  padding: 2rem;
  margin:5px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.bold {
  font-weight: 700;
}
